@model IEnumerable<JayAns.Models.BlogPost>



@{
    ViewBag.Title = "Index";
}

@*<head>
    <title></title>

    <!--Blog CSS Template -->
    <link href="~/Blog Template/css/bootstrap-social.css" rel="stylesheet" />
    <link href="~/Blog Template/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Blog Template/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Blog Template/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Blog Template/css/main.css" rel="stylesheet" />
    <!--/ Blog CSS Template -->
    <!--Blog Font Template-->


</head>*@





<!--Sidebar Begins-->

    <div id="secondary" class="col-sm-3 sidebar" style="display: none;">
      <aside>

        <div class="about">
          <h4>Recently Added</h4>
          <p> Insert Blog Post Here </p>
        </div>
        </aside>
       <!-- <div class="tags">
          <h4>Tags</h4>
          <ul>
            <li>
              <a href="tag.html" class="label label-danger">CSS3</a>
            </li>
            <li>
              <a href="tag.html" class="label label-primary">HTML5</a>
            </li>
          </ul>
        </div>--> <!-- / tag div-->

       <!--<div class="socialmedia">
          <h4>Share</h4>
          <div class="socials-sidebar">
            <a class="btn btn-facebook" href="#" title="Facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-twitter" href="#" title="Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-linkedin" href="#" title="LinkedIn">
              <i class="fa fa-linkedin"></i>
            </a>
            <a class="btn btn-flickr" href="#" title="Flickr">
              <i class="fa fa-flickr"></i>
            </a>
            <a class="btn btn-pinterest" href="#" title="Pinterest">
              <i class="fa fa-pinterest"></i>
            </a>
            <a class="btn btn-tumblr" href="#" title="Tumblr">
              <i class="fa fa-tumblr"></i>
            </a>
            <a class="btn btn-dropbox" href="#" title="Dropbox">
              <i class="fa fa-dropbox"></i>
            </a>
            <a class="btn btn-google-plus" href="#" title="Google+">
              <i class="fa fa-google-plus"></i>
            </a>
            <a class="btn btn-instagram" href="#" title="Instagram">
              <i class="fa fa-instagram"></i>
            </a>
            <a class="btn btn-github" href="#" title="GitHub">
              <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-bitbucket" href="#" title="Bitbucket">
              <i class="fa fa-bitbucket"></i>
            </a>
            <a class="btn btn-vk" href="#" title="VK">
              <i class="fa fa-vk"></i>
            </a>
          </div> <!-- /.socials-sidebar --> <!-- / social media div-->
        </div><!-- /#secondary -->

<!--/ Sidebar Ends-->


    <div  class="container">
          <div class="row">

              <div class="col-sm-12 col-md-8">
                  <section class="post">
                      <header class="entry-header">
                          @foreach (var item in Model)
                          {
                              <img class="entry-avatar" alt="Jessica Ansong" height="52" width="52" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAASBAAAAJGM1OTkwNWE4LWIxNTEtNDBlZC1iZTFiLTBjZjVjNjQzZmI5Mg.jpg">
                              <h2 class="entry-title">@item.Title</h2>
                              <p class="entry-meta">
                                  Posted on <a class="entry-date" href="date.html">@item.Created</a> | By <a class="entry-author" href="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAASBAAAAJGM1OTkwNWE4LWIxNTEtNDBlZC1iZTFiLTBjZjVjNjQzZmI5Mg.jpg">Jessica Ansong</a> | Tags <a class="label label-danger" href="tag.html">Tag</a>
                              </p>




                              <div class="entry-description">

                                  @Html.Raw(item.Blog)



                              </div>
                          }
                      </header>
                
                  </section> <!-- /.post -->
              </div><!-- /left column -->

            <div class="col-sm-12 col-md-4">

            </div><!-- /right column -->


          </div>
    </div> <!-- /#primary -->

    <!-- Scripts -->
   <script src="~/Blog Template/js/jquery-1.11.0.min.js"></script>
    <script src="~/Blog Template/js/custom.js"></script>

    <script src="~/Blog Template/js/pace.min.js"></script>


